<p>fourier works!</p>

<form (ngSubmit)="onSubmit()">
  <label for="speed">Speed:</label>
  <input type="range" id="speed" name="speed" [(ngModel)]="speed" required min="1" max="60">
  <br>
  <label for="circles">Circles:</label>
  <input type="range" id="circles" name="circles" [(ngModel)]="n_circles" required min="1" max={{sliderMaxCircles}}>
  <br>
</form>
<br>
<div class="drawing-canvas">
  <div id="sketch-holder"></div>
</div>

<div>
  <button (click)="onClearPress()">Clear</button>
  <button (click)="onDrawPress()">Fourier It</button>
</div>




