.drawing-main {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  background: #87c5ff;
  padding: 1px;

  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
}
