.image-main {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  background: #87c5ff;
  padding: 3px;

  h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
}

.image-window {
  border: 2px ridge #333333; /* Add a 2px wide ridge border with #333333 color */
  padding: 1px;
  margin: 2px auto; /* Set left and right margins to "auto" to center the div horizontally */
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-window img {
  max-height: 100%; /* Set the maximum height of the image to be 100% of the container */
  max-width: 100%; /* Set the maximum width of the image to be 100% of the container */
  object-fit: contain; /* Scale the image to fit inside the container without stretching or cropping */
}


.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.input {
  display: none;
}

