<div class="description-main">
  <header>
    <h1>Welcome to {{this.projectName}}</h1>
  </header>

  <main>
    <section>
      <h3>made by {{this.creators}}</h3>
      <p>This is our final project in ICBV course at Ben Gurion university of the Negev in Israel. <br>
        We implemented a Fourier transform based algorithm which generates a drawing animation of an image edges using a set of base wave images, each represented by a circle. <br>
        You can either upload an image of your choice or draw your personal drawing, and our algorithm will generate its animation for you.
        <br>
        We hope you're going to enjoy it and admire the magic of fourier transform thanks to that.</p>
    </section>
  </main>
</div>



