.description-main {
  font-size: 20px;
  font-family: Rockwell;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 1px;

  h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
}
