.drawing-main {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  background: #eae7e3;
  padding: 3px;

  h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
}

